root = true

[*.cs]

# ===== Code clarity/legibility rules =====

# Prefer explicit type to 'var'
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

# Prefer file-scoped namespaces to block namespaces
csharp_style_namespace_declarations = file_scoped:suggestion

# Do not recommended primary constructors
csharp_style_prefer_primary_constructors = false

# Prefer explicit modifiers only when not the default (e.g. private not necessary for class members)
dotnet_style_require_accessibility_modifiers = omit_if_default:suggestion

# ===== Silent rules bumped to suggestions =====

dotnet_diagnostic.IDE0001.severity = suggestion
dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_diagnostic.IDE0017.severity = suggestion
dotnet_diagnostic.IDE0047.severity = suggestion
dotnet_diagnostic.IDE0051.severity = suggestion
dotnet_diagnostic.IDE0052.severity = suggestion
dotnet_diagnostic.IDE0300.severity = suggestion

# ===== Disabled rules =====

# No suggestion when using if+throw ArgumentNullException vs. ArgumentNullException.ThrowIf
# This is because QUALIS is outdated and doesn't recognizes the latter...
dotnet_diagnostic.CA1510.severity = none
